.sort:hover {
    background-color: rgb(241, 234, 234);
    cursor: pointer;
}
.icon {
    font-size: 150%;
}
.table {
    background-color: rgb(107, 126, 151);
    margin: 10px;
    padding: 10px;
}
